.feedback {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.count {
  font-size: 24px;
  font-weight: bold;
}